@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;600&display=swap');
@import "tailwindcss";


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
  
  
}

.navBar{
  font-family:'Inter', sans-serif; 
}

.pasteText{
   font-family: 'Inter', sans-serif;
}
